* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

button,
input[type="submit" i] {
  cursor: pointer;
  outline: none;
}

.hidden {
  display: none !important;
}

@mixin flex($justify: center, $align: center, $direct: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direct;
}
@mixin flexh($justify: center, $align: start, $direct: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direct;
}
@mixin flexv($justify: start, $align: center, $direct: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direct;
}
@mixin flexc($justify: center, $align: center, $direct: column) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direct;
}
