@import "./config";
@import "./mixins";

.reset_password_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100wv;
  height: 100vh;
}

.reset_password_form {
  @include flexc($justify: space-between);
  width: 20%;
  min-width: 300px;

  h2 {
    margin-bottom: 15px;
  }
  .reset_password_input,
  .reset_password_input_re {
    width: 60%;
  }
  .save_btn {
    width: 60%;
    margin-top: 10px;
  }
  a {
    margin-top: 10px;
  }
}
