@import "./config";

.header {
  @include flex($justify: space-around);
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  a {
    padding: 0px 50px;
    color: white;
  }

  ul {
    width: 50%;
    @include flex($justify: space-between);
  }
}

.log_reg {
  @include flex;
  margin: 100px auto;
  background-color: #fff;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba($color: #000000, $alpha: 0.25),
    0 10px 10px rgba($color: #000000, $alpha: 0.22);
  position: relative;

  &_slider {
    @include flexc($justify: space-around);
    width: 50%;
    height: 100%;
    position: absolute;
    color: white;
    text-align: center;
    padding: 50px;
    border-radius: 10px;

    button {
      background-color: transparent;
      color: white;
      border: white solid 1px;
      border-radius: 25px;
      width: 80%;
      height: 35px;
    }
  }

  .login_slider {
    // display: none;
    // background-color: darkslategray;
    top: 0;
    left: 0;

    z-index: 998;
  }
  .regist_slider {
    // display: none;
    // background-color: darkslategray;
    top: 0;
    right: 0;
    z-index: 999;
  }

  .blue_bg {
    border-radius: 10px;
    background-color: darkslateblue;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: transform 0.8s ease-in-out;
  }

  .otari {
    transform: translate(-100%);
  }
}

.login,
.regist {
  @include flexc($justify: space-around);
  width: 50%;
  height: 60%;

  h2 {
    padding-bottom: 20px;
  }

  &_social {
    @include flex;
  }

  &_form {
    width: 60%;
    height: 60%;
    @include flexc($justify: space-between);

    #regist_btn,
    #login_btn {
      border-radius: 25px;
      background-color: darkslateblue;
      color: white;
    }
  }

  input {
    border-radius: 6px;
    border: none;
    background-color: rgb(235, 235, 235);
    height: 35px;
    width: 80%;
    a {
      text-decoration: underline;
      font-size: small;
      margin-right: 58px;
    }
  }
}
