
a{
    text-decoration: none;
    color: inherit;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    margin-left: 30px;
}
.login-container{
    margin-top: 25vh;
    display: flex;
    -webkit-box-shadow: 0px 3px 9px 4px rgba(0,0,0,0.45); 
    box-shadow: 0px 3px 9px 4px rgba(0,0,0,0.45);
    width: 40vw;
    margin: 25vh auto 0 auto;
    height: 350px;
   position: relative;
}


.login-container input{
    height: 30px;
    outline: none;
    width: 250px;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(242, 242, 242)
}
.auth-form{
    
    display: flex;
    flex-direction: column; 
    width: 50%;
    position: relative;
    
   
    
}

.btn-style{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    outline: none;
}
.auth-form *, .reg-form *{
    margin-top: 15px;
}

.underline{
    text-decoration: underline;
}
.auth-form p:first-child{
    text-indent: 10px;
}
.auth-form p:last-child{
     margin-top: 15px;
}

.test{
    background-color: gray;
    width: 2px;
    height: 300px;
}

.reg-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    
    
    
}
.hidden {
    display: none !important;
}

.reg-form p{
    text-indent: 10px;
}

.reg-slider{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    z-index: 500;
}

.auth-slider {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    z-index: 400;
    
}
.reg-slider-text{
    width: 80%;
}
.blue-background{
    background-color: #773cff;
    height: 100%;
    width: 50%;
    left: 50%;
    position: absolute;
    transition: transform 0.8s ease-in;
}

.test{
    transform: translateX(-100%);
}